body{
    margin:0;
    padding:0;
    font-weight: century gothic;
    background:url(haidy.jpg)no-repeat;
    background-size:cover;
    background-position: center;
}

.container{
height: 75vh;
width:30%;
background: rgba(0,0,0,0,.6 );
position : absolute;
top : 50%;
left : 50%;
transform:translate(-50%,-50%);
padding:0 10px;
}


.imag{
height:70px;
width:70px;
background: url("haidy.jpg")no-repeat;
background-size:cover;
background-position:center;
border-radius:50px;
top:0%;
left:50%;
transform: translate(-50%,-50%);
}


.container h1 {
color :rgb(10, 3, 53);
margin-top:50px;
  
}
.container p{
color:rgb(228, 128, 128);
margin-top:60 px;
font-size:large;
text-align: center;
background-color: rgba(2, 1, 1, 0.699);
width: 300px;

margin: 15;
padding: 66;

}
.btn{
 
outline:none;
border :1px solid rgb(206, 159, 159);
color:rgb(32, 78, 138);
width: 50%;
padding :7px 15px; 
font-size:large;
cursor:pointer;

}

.btn:hover{
background-color: white ;
color :rgb(138, 91, 91);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(75, 75, 75);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(240, 230, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(219, 184, 184);
